*{
    margin:0;
    padding:0;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Kalam', cursive;
} 
#logo{
    font-size: 2rem;
    padding: 10px;
    margin-left: 30px;
    font-family: 'Kalam', cursive;
    color:rgb(89, 62, 11);
    text-decoration: underline;
}
   

body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    /* font-family: 'Noto Sans', sans-serif; */
    
}
#main-page img{
    width: 40%;
    height: 60vh;
    margin-top:10px;
    /* position: relative; */
}
#main-page{
    /* top:25%;
    right:10%;
    position:absolute; */
    text-align: center;
}
#main-page h1{
font-size: 2.5rem;
text-decoration: underline;
}
#main-page p{
font-size: 2rem;
margin:10px;
}

#main-page a{
    font-size: 1.5rem;
    text-decoration: none;
    background: blue;
    color: white;
    border-radius:10px;
    padding:5px;
    /* margin-top:5px; */
}
@media screen and (max-width:785px){
    #main-page img{
        width:50%;
        height:50vh ;
    
} }
@media screen and (max-width:450px) {
    #main-page img{
        width:65%;
        height:40vh ;
    }
    #main-page h1{
        font-size: 2.1rem;
    }
    #main-page p{
        font-size: 1.8rem;
    }
    #logo{
        font-size: 1.5rem;
        margin-left: 5px;
    }
    
}

#game-area{
    height:700px;
    width:600px;
    background-color: #cde6bb;
    /* background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    top: 20px;
    left: 20%;
    position: absolute;
    text-align: center;
    border: 1px solid red;
}
#heading{
    border-bottom: 2px solid red;

}
#heading h1{
    font-size: 2.5rem;
    padding:20px;
}
#game-area h2{
    font-size: 1.6rem;
    padding:10px;
}
.user-options p {
    font-size: 1.2rem;
}

.user-options .icon {
    border: 2px solid black;
    /* border-radius: 25%; */
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    background: transparent;
    width:50px;
}

#user-computer-choice {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px;
   }
   input {
    height: 40px;
    background: transparent;
    font-size: 1.2rem;
}

#mid h2 {
    margin-top: 10%;
    font-size: 2.5rem;
    border: 1px solid red;
    padding: 15px;
}

#result {
    padding: 15px;
    text-align: left;
}
#restart{
    font-size:1.5rem;
    padding:3px;
    cursor: pointer;
    border:2px solid black;
    border-radius: 10px;
    background: transparent;

}