* {
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

#logo {
    font-size: 2rem;
    padding: 10px;
    margin-left: 5%;
    color: rgb(170, 56, 14);
    text-decoration: underline;
    text-shadow: 2px 1px goldenrod;
    text-align: left;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
}

#main-page img {
    width: 30%;
    height: 50vh;
    margin-top: 10px;
}

#main-page h1 {
    font-size: 2.5rem;
    text-decoration: underline;
}

#main-page p {
    font-size: 2rem;
    margin: 10px;
}

#main-page a {
    font-size: 1.5rem;
    text-decoration: none;
    background: rgb(32, 49, 196);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

#main-page a:hover {
    background: rgb(240, 143, 143);
    border: 2px solid black;
    color: black;
}

/* Media query for home page */

@media screen and (max-width:785px) {
    #main-page img {
        width: 50%;
        height: 50vh;
    }
}

@media screen and (max-width:450px) {
    #main-page img {
        width: 65%;
        height: 35vh;
    }

    #main-page h1 {
        font-size: 2rem;
    }

    #main-page p {
        font-size: 1.6rem;
    }

    #logo {
        font-size: 1.3rem;
        margin-left: 5px;
    }
}

#game-page {
    background: rgb(192, 241, 241);
}

#game-area {
    height: 690px;
    width: 660px;
    margin: 2px auto auto auto;
    text-align: center;
    padding: 15px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border :#1e4f67 1px solid ;
}

#heading h1 {
    font-size: 2.2rem;
    text-shadow: 2px 2px 5px red;
    font-style: oblique;

}

#game-area h2 {
    font-size: 1.2rem;
    padding: 5px;
}

#user-options p {
    font-size: 0.8rem;
}

#user-clicks {
    background: #7ccbf2;
    border-bottom: 2px solid #1e4f67;
}

#user-options{
    border: 2px solid red;
    margin-top: 15px;
}

#user-options .icon {
    border: 1.5px solid black;
    border-radius: 40%;
    padding: 8px;
    margin: 15px 20px;
    cursor: pointer;
    width: 70px;
    
}
#user-options .icon:hover {
    background: rgb(164, 136, 136);
}

#choice-score-display {
    height: 260px;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

#user-computer-choice {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 170px;
}

#user-computer-choice .choice-display {
    border: 1px solid  #1e4f67;
    margin: 30px;
    border-radius: 30px;
    border-bottom: 2px solid #1e4f67;
}

.score {
    height: 40px;
    border-bottom: 2px solid #1e4f67;
    display: grid;
    grid-template-columns: 50% 50%;
    background: #7ccbf2;
    
}

#user-score,
#computer-score,
#selections-left {
    color: red;
}
#result{
    background: #7ccbf2;
    border-top: 2px solid #1e4f67;
    height:50px;
}

#game-winner {
    background: #7ccbf2;
    border: 2px solid red;
    height:80px;
}

#winner {
    color: red;
    font-size: 2rem;
    text-shadow: 2px 2px green;
}

.btn{
    font-size: 1.3rem;
    padding: 3px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bee6fa;
    margin: 30px;
}

.btn:hover {
    background-color: rgb(164, 136, 136);
}

.btn a {
    text-decoration: none;
    color: black;
}